@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JunigardenSerif';
  src: url('fonts/JunigardenSerif.otf');
}

:root {
  --background: rgb(24, 23, 23);
  --foreground: #171717;
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
  --macaneta: 25px;
  --fonteTitulo: 'JunigardenSerif', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.titulo{
  font-family: var(--fonteTitulo);
  display: flex;
  justify-content: center;
  align-items: center;
}